.main {
    flex-grow: 1;
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(200px, 310px) 1fr minmax(200px, 310px);

    &__left--game,
    &__right--game {
        background-color: rgba(16, 16, 16, 0.9);
    }

    &__center {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}