
.main {
  flex-grow: 1;
  overflow: auto; /* если нужно прокручивать содержимое main */


  display: grid;
  grid-template-columns: minmax(200px, 300px) 1fr minmax(200px, 300px);
  padding: 0px 10px;
}   

.main-left.game{
    background-color: bisque;
}

.main-right.game{
    background-color: blue;
}