.profile {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    position: relative;


    &__left {
        width: var(--sidebar-width, 300px); // управляемая ширина
        min-width: 200px;
        max-width: 400px;
        background-color: rgba(23, 23, 23, 0.9);
        padding: 10px;
        position: relative;

        &-title {
            box-sizing: border-box;
            border-bottom: 1px solid white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-logo {
            width: 100%;
        }

        &-navbar {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &-item {
            padding: 5px 10px;
            cursor: pointer;
            transition: all .3s linear;
            border: 0px solid;
            border-radius: 10px;

            &:hover {
                background-color: #393939;
            }

            &--active {
                transition: all .3s linear;
                background-color: #393939;
            }
        }
    }

    &__resizer {
        position: absolute;
        top: 0;
        right: 0;
        width: 3px;
        height: 100%;
        cursor: ew-resize;
        background-color: rgba(255, 255, 255, 0.5); // или прозрачный
        z-index: 10;
    }

    &__right {
        flex: 1;
        background-color: rgba(57, 57, 57, 0.9);
        padding: 10px;

        &-page {
            width: 100%;
            height: 100%;
        }

        &-header {
            font-size: 36px;
            font-weight: bold;
            border-bottom: 1px solid white;
            display: flex;
            align-items: center;
            gap: 10px;
            padding-left: 20px;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        &-wrapper {
            border: 1px solid rgba(0, 0, 0, 0);
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 10px;



            &-header {
                background-color: rgba(91, 91, 91, 0.9);
                font-size: 30px;
                font-weight: 500;
                height: 60px;
                display: flex;
                align-items: center;
                padding: 0 10px;
                justify-content: space-between;
            }


            &-body {
                width: 100%;
                font-size: 30px;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.7);
                background-color: rgba(115, 115, 115, 0.9);
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px;
            }

            &__edit-button {
                transition: all .3s linear;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #393939;
                }
            }

            &__text{
                margin-left: 5px;
                font-family: "Inter", sans-serif;
                padding: 5px 0px;
            }

            &__edit-area {
                display: flex;
                align-items: center;
                border: 0px solid;
                border-radius: 5px;
                background-color: #404040;
                width: 100%;
            }

            &__input {
                height: 100%;
                font-size: 30px;
                border: none;
                flex-grow: 1;
                color: white;
                background-color: transparent;
                padding: 5px;
                font-family: "Inter", sans-serif;

                &:focus{
                    border: none;
                    outline: none;
                }
            }

            &__button {
                border: 1px solid white;
                color: white;
                background-color: transparent;
                padding: 10px;
                cursor: pointer;

                &--submit{
                    background-color: green;
                }

                &--cancel{
                    background-color: red;
                }
            }
        }

    }

}