/* Базовый сброс стилей */
* {
  margin: 0;
  padding: 0;
}

a{
  color: white;
  text-decoration: none;
}

/* Применение глобального шрифта */
body {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  color: #ffffff;
  min-height: 100vh;
  background: url('../images/background.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}