.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f9fafb; /* светлый фон, можно заменить */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .spinner {
    width: 80px;
    height: 80px;
    border: 10px solid #e5e7eb; /* светлая рамка */
    border-top: 10px solid #4f46e5; /* активный цвет */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  