.header{
    display: grid;
    height: 60px;
    background-color: black;
    align-items: center;
}

.header-start-page{
    grid-template-columns: 1fr 300px;

}

.header-game-page{
    grid-template-columns: 300px 1fr 300px;

}

.header-list-buttons{
    display: flex
}