.header-left{
    height: 50px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    text-align: center;
    align-items: center;
    padding-right: 5px;
    place-items: center;
}

.header-left.start{
    height: 50px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: start;
}

.header-left-buttons.start{
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
}
